<!DOCTYPE html>
<html>
<head>
    <title>Disformer</title>
    {{{_sections.head}}}
    <link rel="stylesheet" href="/css/topnav.css">

</head>
<body>
  {{>topnav}}
  <h3>{{level.levelName}}</h3>
  <script src="/lib/phaserLevel.js"></script>
</body>
</html>
