{{#if tiles}}
        {{#each tiles}}
            <div
                id='tile{{index}}'
                background-color={{color}}
                data-row={{row}}
                data-col={{col}}>
            </div>
        {{/each}}
{{/if}}