<nav id="topnav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/levelSelect">Level Select</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/levelSelect/create">create</a></li>
    </ul>
</nav>
