<!DOCTYPE html>
<html>
<head>
    <title>Disformer</title>
    {{{_sections.head}}}
    <link rel="stylesheet" href="/css/topnav.css">
    <link rel="stylesheet" href="/css/levelSelect.css">

</head>
<body>
  {{>topnav}}
  {{{body}}}
  <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
  {{{_sections.jQuery}}}
</body>
</html>
