<form method="post">
    <label>Level name?:<textarea name="name"></textarea></label>
    <label>Message: <textarea name="message"></textarea></label>
    <br>
    <input type="submit" value="Create level!">
</form>